@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.App{
    transition:0.3s ease-in-out;
    opacity:0;
}
.NavbarBody{
    display: flex;
    flex-direction: row;
    background-color: #2b3137;
    height: 59px;   
}
.NavButtons{
    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left:0;
    margin-right: auto;
    align-items: center;
}
.NavButton{
    margin-right: 0.8em;
    margin-top:0.3em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    user-select: none;
    
}
.NavButtonLogin{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 0.1em;
    align-items: center;    
}

.NavButton a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.Logo{
    display:flex;
    margin-top:6px;
    margin-left:6px;
    width: 47px;

    
}
.Loadbar{
    background-color: white;
    width: 100%;
    height:4px;
    

}
.progress{
    background-color: #ffffff;
	position: relative;
	height: 4px;
	width: 100%;

}
.progresscomplete{
    background: linear-gradient(to left, #51d3a4, rgb(4, 221, 149));
	box-shadow: 0 3px 3px -4px rgb(131, 255, 228), 0 3px 4px rgb(106, 255, 230);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
    opacity: 0.4;
    transition: 0.5s ease-in-out 0.1s;
}
.PageBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}
.Solvebtn{
    margin-top:6vh;
    width:230px;
    height:63px;
    background-color:rgb(81,211,164);
    border: 2px solid rgb(136,136,141);
    border-radius: 2px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 3em;
    outline: 0;
    line-height: 0;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px rgb(228, 228, 228);
    transition: ease-in-out cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-property:background;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
.Solvebtn:active{
    background-color:rgb(162, 250, 218) !important;
    
}
.Solvebtn:hover{
    background-color:rgb(75, 245, 182);
}

body{
    background-image: linear-gradient(-68deg,#f4f2f9,#f3f4fc);
    
}
